<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #e56108;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="pages" th:field="*{size}">
                    <p th:if="${#fields.hasErrors()}">Only integer value and max 5 length</p>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${bookIdToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove to id">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong or not found ID</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove/all}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:name="bookAuthorToRemove">
                    <input type="text" placeholder="title" th:name="bookTitleToRemove">
                    <input type="text" placeholder="size" th:name="bookSizeToRemove">
                </td>
                <td>
                    <input type="submit" value="removeAll">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/filter}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:name="bookAuthorToFilter">
                    <input type="text" placeholder="title" th:name="bookTitleToFilter">
                    <input type="text" placeholder="size" th:name="bookSizeToFilter">
                </td>
                <td>
                    <input type="submit" value="filter">
                </td>
            </tr>
        </table>
    </form>

    <table id="books">
        <th>id</th>
        <th>author</th>
        <th>title</th>
        <th>pages</th>
        </tr>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>