<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <style>
        #login_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .login_item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div id="login_form">
        <form method="post" th:action="@{/login/auth}" th:object="${accountForm}">
            <img id="login_item" th:src="@{/images/book_icon.jpg}">
            <br>
            <input class="login_item" type="text" placeholder="enter user name" th:field="*{username}">
            <br>
            <input class="login_item" type="password" placeholder="enter password" th:field="*{password}">
            <br>
            <input class="login_item" type="submit" value="Login">
        </form>

        <form method="post" th:action="@{login/registration}">
            <input class="login_item" type="submit" value="Create new account">
        </form>
    </div>
</body>
</html>
